asgiref
certifi
chardet
charset-normalizer
contourpy
cycler
Django
fonttools
idna
joblib
kiwisolver
matplotlib
numpy
packaging
pandas
pillow
psycopg2-binary
pyparsing
python-dateutil
python-decouple
python-dotenv
pytz
reportlab
requests
scikit-learn
scipy
six
sqlparse
threadpoolctl
tzdata
urllib3
tenacity